@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
.title {
    text-transform: uppercase;
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    margin: 10px;
    width: 100%;
    background-color: grey;
}